@import "font.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

ol, ul {
    padding-inline-start: 0;
}

body>div.side {
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    padding: 5% 0;
    background-color: rgb(27, 27, 37);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body>div.side>div.header>h2 {
    text-align: center;
    color: white;
}

body>div.side>div.header>ul.sns {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

body>div.side>div.header>ul.sns>li>a {
    color: silver;
    font-size: 2rem;
    transition-duration: 1000ms;
}

body>div.side>div.header>ul.sns>li>a:hover {
    color: lightskyblue;
    transition-duration: 1000ms;
}

body>div.side>ul.nav {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

body>div.side>ul.nav>li {
    justify-content: center;
    margin: 5%;
}

body>div.side>ul.nav>li>a {
    font-size: 1.25rem;
    text-decoration: none;
    color: grey;
    transition-duration: 1000ms;
}

body>div.side>ul.nav>li>a:hover {
    color: lightskyblue;
    transition-duration: 1000ms;
}

body>div.home>section.splash {
    left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

body>div.home>section.splash>div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center top;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition-duration: 500ms;
}

body>div.home>section.splash>div.visible {
    opacity: 0.9;
}

body>div.main {
    left: 20%;
    top: 100%;
    width: 80%;
    background-color: white;
    position: absolute;
    z-index: 1;
}

body>div.main h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 5%;
    margin-left: 5%;
}

body>div.main h3 {
    font-size: 2rem;
    font-weight: 600;
}

body>div.main h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

body>div.main>div:last-child {
    margin-bottom: 5%;
}

body>div.main>div>div {
    margin-top: 3%;
    margin-left: 10%;
}

body>div.main table {
    margin: 3% auto;
}

body>div.main>div.about>table.a-menu td {
    width: 30%;
    text-align: center;
    padding: 3%;
}

body>div.main>div.skill>table.s-menu td {
    width: 100vw;
    text-align: center;
    padding: 3%;
}

body>div.main>div.skill>table.s-menu img {
    width: 40px;
    height: 40px;
}

body>div.main>div.skill>table.s-menu p {
    font-size: 1.5rem;
    font-weight: 400;
}

body>div.main>div.skill>table.s-menu p.db img {
    width: 60px;
    height: 40px;
}

body>div.main>div.project>h3 {
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
}

body>div.main>div.project>h4 {
    margin-left: 5%;
    font-size: 1rem;
    display: inline-block;
}

body>div.main>div.project img {
    width: 80%;
    object-fit: cover;
}

.swiper-button-prev , .swiper-button-next {
    width: 30px;
    height: 30px;
    /* left: -10%;
    right: 10%; */
    color: gray;
}

.swiper-pagination {
    position: static;
    width: 80%;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 80%;
}

/* body>div.main>div.project>div {
    display: flex;
}

body>div.main>div.project>div>div {
    width: 50%;
} */

body>div.main>div.contact {
    height: 90vh;
}

body>div.main>div.contact>div.contact-group {
    width: 80%;
    margin-top: 15%;
    box-shadow: 0px 0px 5px 5px lightgray;
    padding: 2.5% 5%;
}

body>div.main>div.contact>div.contact-group>div {
    margin: 2.5% 0;
}

body>div.main>div.contact>div.contact-group>div>i {
    font-size: 2rem;
}

body>div.main>div.contact>div.contact-group>div>h3 {
    display: inline-block;
    width: 150px;
}
body>div.main>div.contact>div.contact-group>div>h4 {
    display: inline-block;
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: lightgray;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 2.5px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: gray;
    transition: background 0.2s ease-in-out;
  }